<main id="content" role="main">

  {{> common/betaBanner}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Submit Registration</h1>

        {{#isErrors}}
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                Please fix the following errors
            </h2>

            <ul class="error-summary-list">
                {{#each errors}}
                <li><a href="#{{field}}">{{description}}</a></li>
                {{/each}}
            </ul>

        </div>

        {{/isErrors}}

      <form action="/form" method="POST" enctype="multipart/form-data">
          <input name="crumb" type="hidden" value="{{crumb}}"/>
          <script id="name-error-template" type="text/x-handlebars-template"></script>
          <div class="form-group {{#isError errors 'name'}} form-group-error {{/isError}}">
              <label class="form-label-bold" for="name">Name
                  {{#isError errors 'name'}}
                  <span class="error-message">
                      {{#get errors 'name'}}{{/get}}
                  </span>
                  {{/isError}}
              </label>
              <input class="form-control" type="text" id="name" name="name" value="{{ data.name }}">

          </div>

          <div class="form-group {{#isError errors 'company'}} form-group-error {{/isError}} ">
              <label class="form-label-bold" for="company">Company
                  {{#isError errors 'company'}}
                  <span class="error-message">
                      {{#get errors 'company'}}{{/get}}
                  </span>
                  {{/isError}}
              </label>
              <input class="form-control" type="text" id="company" name="company" value="{{ data.company }}">
          </div>


          <input class="button" type="submit" value="Submit">

      </form>
    </div>
  </div>

</main>
